@media only screen and (max-width: 1366px) {
    .map {
        max-width: 1100px;
        max-height: 624px;
        min-height: 624px;
    }

    .item-info-map {
        font-size: 18px;
    }

    /*positions*/
    .secondBtn {
        left: 52%;
        top: 67%;
    }
    .thirdBtn {
        left: 68.5%;
        top: 58.5%;
    }
    .fourthBtn {
        left: 23%;
        top: 56%;
    }
    .fifthBtn {
        left: 41%;
        top: 22%;
    }
    .sixBtn {
        left: 83%;
        top: 32%;
    }
    .sevenBtn {
        left: 58%;
        top: 7%;
    }
    /* tables concentration info page*/
    table {
        font-size: 16px;
    }
    td {
        border: 1px solid black;
        padding: 3px 12px;
    }
    #mapFrame {
        height: 540px;
    }

}

@media only screen and (max-width: 1200px) {
    .item-info-map {
        font-size: 16px;
    }
    .tablesNaming {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1080px) {
    .item-info-map {
        font-size: 15px;
    }

    header h1 {
        font-size: 22px;
    }

    /* tables concentration info page*/
    table {
        font-size: 15px;
    }
    td {
        border: 1px solid black;
        padding: 2px 8px;
    }
    .tablesNaming {
        font-size: 16px;
    }

    .footer-a {
        font-size: 17px;
    }

}

@media only screen and (max-width: 980px) {
    .item-info-map {
        font-size: 15px;
    }
    header h1 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 980px) {
    .item-info-map {
        font-size: 15px;
    }
    header h1 {
        font-size: 22px;
    }
}

/*mobile devises on API Map*/
@media only screen and (max-width: 480px) {
    .footer-a {
        font-size: 16px;
    }
    #mapFrame {
        height: 480px;
    }
    .footer-li-item {
        margin: 0 12px;
    }
}

@media only screen and (max-width: 400px) {
    .footer-a {
        font-size: 12px;
    }
    .footer-li-item {
        margin: 0 9px;
    }
}


@media only screen and (max-width: 350px) {
    .footer-a {
        font-size: 12px;
    }
    .footer-li-item {
        margin: 0 6px;
    }
}

